.nav {
    background: linear-gradient(90deg, #BB9457, #99582A);
    margin-bottom: 1em;
    position: fixed;
    left: 0;
    z-index: 1;
    color: var(--Falu_Red);
    font-weight:400;
}

.logo {
    height: 60px;
    width: 60px;
}

.logo svg {
    width: 100%;
    height: 100%;
    fill: var(--Peach);
}

.navButton {
    border-radius: 5px;
    color: var(--Bistre);
    width: 100%;
}
