@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Falu_Red: #6F1D1B;
  --Lion: #BB9457;
  --Bistre: #432818;
  --Brown: #99582A;
  --Peach: #FFE6A7;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--Bistre);
  background: var(--Peach);
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
  position: relative;
  height: 100dvh;
}
body > div{
  height: 100%;
}

main {
  height: 100%;
}

h1 {
 font-size: 25pt;
}